@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

@layer base {
  .font-jersey {
    font-family: 'Jersey 15', sans-serif;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */
@layer base {
    :root {
  
      --radius: 0.5rem
    }
  }
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }